<%- include('partials/header') -%>
  <div class="container border">
    <div id="carouselExampleControls" class="carousel slide border border-2 text-center" data-bs-ride="carousel">
      <ul class="carousel-inner justify-content-center align-items-center list-unstyled border">
        <% for(var i=0; i<posts.length; i++) {%>
          
          <li class=" <%= i === 0 ?  'carousel-item active' : 'carousel-item'  %>">
            <a href="/post/<%= posts[i]._id%>">
              <h2><%= posts[i].title %></h2>
              <img class="d-block w-100" src= "<%= posts[i].image%>">
              <p><%= posts[i].caption %></p>
            </a>
            <h3 class="row-3">
              <form
          class="row-1"
          action="/post/likePost/<%= posts[i]._id %>?_method=PUT"
          onsubmit="setTimeout(function(){window.location.reload();},10);"
          method="POST"
        >
        
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
              Likes: <%= posts[i].likes %></h3>
          </li>
        <% } %>
        </ul>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>


    </div>
  </div>  
<%- include('partials/footer') -%>

