<%- include('partials/header') -%>
  <div class="container">
    <div class="col text-center mt-5">
      <ul class="col list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col w-75 justify-content-center mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <h2><%= posts[i].title %></h2>
              <img class="img-fluid" src="<%= posts[i].image%>">
              <p><%= posts[i].caption %></p>
            </a>
            <h3 class="row-3">
              <form
          class="row-1"
          action="/post/likePost/<%= posts[i]._id %>?_method=PUT"
          onsubmit="setTimeout(function(){window.location.reload();},10);"
          method="POST"
        >
        
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
              Likes: <%= posts[i].likes %></h3>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>

